src/main/mule/implementation/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\reports:uhub-sapi-config">
        <set-variable value='#[attributes.headers."x-correlationId" default ""]' doc:name="Get correlationId" doc:id="5b8ab619-5121-43ec-b637-ce52dfc5a1e7" variableName="correlationID"/>
		<logger level="INFO" doc:name="Logger" doc:id="e579a355-7735-468d-ae50-ef30fd1dfbbe" />
		<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="bd58aa27-e8e2-4a89-aa9d-3b4342e81c2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
payload map(covidCase,covidindex) ->{
	caseID: covidCase.case_id,
	"source":covidCase.source,
   "caseType":covidCase.case_type,
   "firstName":covidCase.first_name,
   "lastName":covidCase.last_name,
   "phone":covidCase.phone,
   "email":covidCase.email,
   "dateOfBirth":covidCase.date_of_birth as String,
   "nationalID":covidCase.national_id,
   "nationalIDType":covidCase.national_id_type,
   "address":{
      "streetAddress":covidCase.street_address,
      "city":covidCase.city,
      "state":covidCase.state,
      "postal":covidCase.postal,
      "country":covidCase.country,
},
	createDate: covidCase.create_date as String,
	updateDate: covidCase.update_date as String,
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
		<flow-ref doc:name="Flow Reference" doc:id="3741a337-66a8-49fe-96f9-2cda6e3733ae" name="get-full-record-subflow" />
		<ee:transform doc:name="Transform Message" doc:id="ee8f02bc-d306-47d7-a4b2-86091d6b219d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(covidCase,covidindex) ->{
	caseID: covidCase.case_id,
	"source":covidCase.source,
   "caseType":covidCase.case_type,
   "firstName":covidCase.first_name,
   "lastName":covidCase.last_name,
   "phone":covidCase.phone,
   "email":covidCase.email,
   "dateOfBirth":covidCase.date_of_birth as String,
   "nationalID":covidCase.national_id,
   "nationalIDType":covidCase.national_id_type,
   "address":{
      "streetAddress":covidCase.street_address,
      "city":covidCase.city,
      "state":covidCase.state,
      "postal":covidCase.postal,
      "country":covidCase.country,
},
	createDate: covidCase.create_date as String,
	updateDate: covidCase.update_date as String,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="95d210b5-58b7-4a01-ac72-d92d1ffd9267" message="end"/>
				<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="7c8ed6e5-42d3-40f5-b237-f6edceeca561" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[if(!isEmpty(attributes.queryParams.state)) (
	"select count(*) as count, case_type, state from covid_report where state = '" ++ upper(attributes.queryParams.state) ++ "' group by case_type, state"
) else (
	"select count(*) as count, case_type, state from cvd_case_master group by case_type, state"
)&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform> [STUDIO] -->
		<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    state: "texas",
    report: {
      total: 46744,
      positive: 436744,
      recovered: 433744,
      death: 300,
      vaccinated: 7847848
    }
  }
&#93;&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow></mule>
