src/main/mule/implementation/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="put:\cases:application\json:uhub-sapi-config">
		<set-variable value='#[attributes.headers."x-correlationId" default ""]' doc:name="coreelationID" doc:id="fbdab2d0-826e-4b54-912d-d47f3ce1c18c" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="26097c7a-ec1c-4067-9018-b014644312bc" message="correlationId:#[vars.correlationId]"/>
		<ee:transform doc:name="Prepare-covid-case-payload" doc:id="53c6ca57-52a6-4550-82ad-a922916919e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java

---
{	CASE_ID:payload.caseID,
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: now()as String { format: "yyyy-MM-dd" },
	update_date: now() as String { format: "yyyy-MM-dd" },
	create_by: "UHIS",
	update_by: "UHIS"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="update-covid-case-sub-flow" doc:id="be91c709-231d-4853-ad69-c12efa56349d" name="update-covid-case" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID:payload.CASE_ID as String
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="bacea1b9-7bea-4c1f-a6c2-41083bae2c89" message="logging ended"/>
    
</flow></mule>
